// COLOR PALETTE
$clr1: #723800;
$clr2: #cef6ff;
$clr3: #b8c0c6;
$clr4: #f0f8ff;
$clr5: #343b40;
$clr6: #00c6b1;
$clr7: #005ef5;

$bclr0: #FFB860;
$bclr1: #AC8B67;
$bclr2: #FFF8F0;
$bclr3: #DFE0DF;
$bclr4: #42DFA4;
$bclr5: #051e8c;

// LAYOUT BREAKPOINTS
$break-wide: 2000px;
$break-normal: 1200px;
$break-medium: 900px;
$break-narrow: 700px;
$break-mobile: 550px;
